
.paymentMain_form h2{
    text-align: center;
    padding: 20px 0px;
    font-weight: 700;
    font-size: 50px;
    color: rgb(81, 130, 103);
    font-family: 'Courier New', Courier, monospace;
}
.paymentMain_TT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    height: 100vh;
}
.listInput{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px; 
}
.listInput input{
    padding-left: 20px;
    width: 50%;
}
.listInput button{
    width: 100%;
}
.listInput-TT button{
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    
}